body {
  background-color: white;
}

#board-perimeter {
  background-color: blue;
  width: 700px;
  height: 500px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
}

.column {
  float: left;
  width: 100px;
}

.container {
  border-radius: 80px;
  display: block;
  background-color: white;
  width: 70%;
  height: 70px;
  margin: 10px;
}
